/* Styles go here */


        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
 

#email{
 color: #fff;
text-align:center;
  word-wrap: break-word;
  overflow: hidden;
}


#header {
    background: url(../images/home.jpg) 100% 100% no-repeat;
    /*background: url(http://belchim.it/images/sliders/full_slider/slide3.jpg) 100% 100% no-repeat;*/
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Высота шапки */
    max-width: 100%;
    height: 300px;
}


