
<div style="padding-top:25px;"> </div>
<div class="col-sm-3">
    <!--left col-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div align="center">
                    <img *ngIf='LoginUserAccountData.Profile.UserImageName!=null' class="thumbnail img-responsive" alt="Responsive image" src="../../images/{{LoginUserAccountData.Profile.UserImageName}}" style="display: block;max-width:100%;height:auto;">
                    <img *ngIf='LoginUserAccountData.Profile.UserImageName==null' class="thumbnail img-responsive" alt="Responsive image" src="../../images/no_avatar.png" style="display: block;max-width:100%;height:auto;">

                    <!--<input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" />-->
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-primary btn-file">
                            <span class="fileupload-new">Select file</span>
                            <span class="fileupload-exists">Change</span>
                            <input type="file" (change)="fileChange($event)" />
                        </span>
                    </div>
                    <hr />
                </div>
                <div class="media-body">
                    <h4><strong>UserName</strong></h4>
                    <input class="form-control" (change)="onChangeUserName()" type="text" name="userName"
                           [(ngModel)]="LoginUserAccountData.Profile.UserName" #FirstName="ngModel" />

                    <h4><strong>FirstName</strong></h4>
                    <input class="form-control" (change)="onChange()" type="text" name="firstName"
                           [(ngModel)]="LoginUserAccountData.Profile.FirstName" #FirstName="ngModel" />
                    <h4><strong>LastName</strong></h4>
                    <input type="text" (change)="onChange()" class="form-control" name="lastName"
                           [(ngModel)]="LoginUserAccountData.Profile.LastName" #LastName="ngModel" />

                    <h4><strong>Age</strong></h4>
                    <input type="text" (change)="onChange()" class="form-control" name="age"
                           [(ngModel)]="LoginUserAccountData.Profile.Age" #Age="ngModel" />

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-body">

            <h1 class="panel-title pull-left" style="font-size:30px;">{{LoginUserAccountData.Profile.UserName}} <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>

            <br><br>
            <button (click)="addInstruction()" style="padding-bottom:10px" class="btn btn-success" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                Create Instruction
            </button>
            <br><br><hr>
            <span class="pull-left">
                <a class="btn btn-link" style="text-decoration:none;"><i class="glyphicon glyphicon-book" aria-hidden="true"></i> Instructions <span class="badge">{{LoginUserAccountData.Profile.Instructions.length}}</span></a>

            </span>

        </div>
    </div>

    <div *ngIf="create" class="panel panel-default">
        <div class="panel-body">
            <div class="post-content">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <hr />
                <div class="form-group ">
                    <input type="text" name="instructionName" [(ngModel)]="instructionName" class="form-control" placeholder="Name" value="" required="required">
                </div>
                <hr />
                <div class="pull-left">
                    <a class="btn btn-default" (click)="Cancel()">Cancel</a>
                    <input type="submit" value={{modalBtnTitle}} (click)="Create(instructionName)" class="btn btn-success btn-custom">
                </div>
            </div>
        </div>
    </div>


    <div class="wp-block property list" *ngFor="let instruction of LoginUserAccountData.Profile.Instructions; let i = index">

        <div class="wp-block-body">

            <div class="wp-block-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <small>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{instruction.DataTimeChange}}
                            </small>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger pull-right" (click)="Delete(instruction.Id)">Delete</button>
                        </div>
                    </div>
                </div>
                <button (click)="BuildInstruction(instruction.Id)" type="button" class="btn btn-link"><h4 class="content-title">{{instruction.Name}}</h4></button>


                <div class="container">
                    <div class="row">
                        <div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" [attr.data-target]="'#stepDetails' + i">
                                                STEPS
                                            </a>
                                        </h4>
                                    </div>
                                    <div [attr.id]="'stepDetails' + i" class="panel-collapse collapse">


                                        <div class="list-group">

                                            <a (click)="Open(step.Id)" class="list-group-item" *ngFor="let step of instruction.Steps; let i = index">
                                                <span class="glyphicon glyphicon-th-list"></span> {{step.Name}} <!--<span class="badge">411</span>-->
                                            </a>

                                        </div>


                                    </div>
                                </div>


                            </div><!-- /.panel-group -->

                        </div><!-- /.col-md-offset-3 col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->


            </div>
        </div>

        <div class="wp-block-footer">
            <p class="aux-info">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{instruction.Steps.length}}
                <a class="pull-right" style="font-size:16px;">
                    {{instruction.UserName}} <!--<span class="badge">411</span>-->
                </a>
            </p>

        </div>
    </div>






    <!--<div class="panel panel-default">
            <div class="panel-body">
                <div class="post-content">
                    <div *ngIf='LoginUserAccountData.Profile.Instructions && LoginUserAccountData.Profile.Instructions.length==0' class="alert alert-info" role="alert">No record found!</div>
                    <table class='table table-striped' *ngIf='LoginUserAccountData.Profile.Instructions && LoginUserAccountData.Profile.Instructions.length'>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserProfileId</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let instruction of LoginUserAccountData.Profile.Instructions">
                                <td>{{instruction.Name}}</td>
                                <td>{{instruction.UserProfileId}}</td>
                                <td>
                                    <button title="Edit" class="btn btn-primary" (click)="BuildInstruction(instruction.Id)">Edit</button>
                                </td>
                                <td>
                                    <button title="Delete" class="btn btn-danger" (click)="Delete(instruction.Id)">Delete</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <hr>-->
</div>

