<!--<button title="Test" class="btn btn-primary" (click)="Test()">Test</button>

<div style="padding-top:25px;"> </div>-->

<div class="panel panel-default col-sm-12 col-lg-12 col-md-12">
    <div class="panel-body">
        <div class="row">

            <div class="col-md-9">

                <input class="form-control pull-left" style="width:70%;" (change)="onChangeName()" type="text" name="Name"
                       [(ngModel)]="BuildInstructionData.Name" #Name="ngModel" />
            </div>

        </div>
        <hr>
        <span class="pull-left">
            <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="glyphicon glyphicon-th-large" aria-hidden="true"></i> Steps <span class="badge">{{BuildInstructionData.Steps.length}}</span></a>

            <button (click)="addStep()" style="padding-bottom:10px" class="btn btn-success" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                Create Step
            </button>

            <button (click)="Save()" style="padding-bottom:10px" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-ok"></span>
                Save
            </button>
        </span>
        <span>
            <a class="pull-right" style="font-size:16px;">
                {{BuildInstructionData.UserName}} <!--<span class="badge">411</span>-->
            </a>
        </span>

    </div>
</div>

<div *ngIf="create" class="panel panel-default">
    <div class="panel-body">
        <div class="post-content">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <hr />
            <div class="form-group ">
                <input type="text" name="stepName" [(ngModel)]="stepName" class="form-control" placeholder="Name" value="" required="required">
            </div>
            <hr />
            <div class="pull-left">
         
                <a class="btn btn-default" (click)="Cancel()">Cancel</a>
                <input type="submit" value={{modalBtnTitle}} (click)="Create(stepName)" class="btn btn-success btn-custom">
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="container" [dragula]='"another-bag"' [dragulaModel]='BuildInstructionData.Steps'
          (change)="onChangeDrag()">

        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let step of BuildInstructionData.Steps">
            <div class="card card-favorite">
                <!--<div class="card-img-container">
                    <div *ngIf="step.ImageName==null" style="background:url(http://bootstraptema.ru/images/bg/bg-5.png);" class="card-img"></div>
                    <img *ngIf="step.ImageName!=null" style="background:url(../../images/step.ImageName);" class="card-img">
                    
                </div>-->
                <div class="card-content">
                    <div class="card-meta">                       
                       
                    </div>
                    <h2 class="box-text btn-link">
                        <a title={{step.Name}} (click)="Open(step.Id)">
                            {{step.Name}}
                        </a>
                    </h2>
                </div>
                <div class="pull-right">
                    <button title="Delete" class="btn btn-danger" (click)="Delete(step.Id)">Delete</button>
                </div>
                <span class="meta-tags">
                    <a class="tag">{{step.DataTimeChange}}</a>                    
                </span>

            </div>
        </div>
    </div>

</div>


