<!--<div *ngIf="qqq">
    <p>{{qqq.Id}}</p>
    <p>{{qqq.UserName}}</p>
    <p>{{qqq.Email}}</p>
    <p>{{qqq.Password}}</p>
    <p>End</p>

    <button title="Show" class="btn btn-primary" (click)="Show()">Show</button>
    <button title="Add" class="btn btn-primary" (click)="Add()">Add</button>

</div>-->
<style>
/* Styles go here */


</style>
<button title="Show" class="btn btn-primary" (click)="Show()">Show</button>



<textarea [(ngModel)]="textData"></textarea>
<markdown [data]="textData"></markdown>







