<!--<div *ngIf="qqq">
    <p>{{qqq.Id}}</p>
    <p>{{qqq.UserName}}</p>
    <p>{{qqq.Email}}</p>
    <p>{{qqq.Password}}</p>
    <p>End</p>

    <button title="Show" class="btn btn-primary" (click)="Show()">Show</button>
    <button title="Add" class="btn btn-primary" (click)="Add()">Add</button>

</div>-->
<style>
    /* Styles go here */
</style>
<button title="Show" class="btn btn-primary" (click)="Show()">Show</button>

<div *ngIf="develop">
    <div class="container" [dragula]='"another-bag"' [dragulaModel]='numbers'>
        <div class="row" *ngFor="let str of numbers;let i = index">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Markdown</h3>
                    </div>
                    <div class="panel-body">
                        <textarea #newStudentElem name="name" (change)="onChange(newStudentElem.value,i)" id="textbox" class="form-control">{{str}}</textarea>
                        <!--<input type="text" name="name"  class="form-control" value={{str}}/>-->

                    </div>
                </div>
            </div>
            <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">HTML</h3>
                    </div>
                    <div class="panel-body">
                        <markdown>{{str}}</markdown>
                    </div>
                </div>
            </div>-->


        </div>
    </div>

</div>
<div *ngIf="!develop">
    <div class="row" *ngFor="let str of numbers;let i = index">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">HTML</h3>
                </div>
                <div class="panel-body">
                    <markdown>{{str}}</markdown>
                </div>
            </div>
        </div>
    </div>
</div>
