<!--<div *ngIf="qqq">
    <p>{{qqq.Id}}</p>
    <p>{{qqq.UserName}}</p>
    <p>{{qqq.Email}}</p>
    <p>{{qqq.Password}}</p>
    <p>End</p>

    <button title="Show" class="btn btn-primary" (click)="Show()">Show</button>
    <button title="Add" class="btn btn-primary" (click)="Add()">Add</button>

</div>-->

<button title="Show" class="btn btn-primary" (click)="Show()">Show</button>

<!--<div *ngIf="develop">
    <div class="container" [dragula]='"another-bag"' [dragulaModel]='numbers'>
        <div class="row" *ngFor="let str of numbers;let i = index">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        <form class="form-horizontal">
                        <textarea #newStudentElem name="name" (change)="onChange(newStudentElem.value,i)" id="textbox" class="form-control">{{str}}</textarea>

                            </form>

                </div>
            </div>-->
<!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">HTML</h3>
        </div>
        <div class="panel-body">
            <markdown>{{str}}</markdown>
        </div>
    </div>
</div>-->
<!--</div>
    </div>


<div *ngIf="!develop">
    <div class="row" *ngFor="let str of numbers;let i = index">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


                    <markdown>{{str}}</markdown>

        </div>
    </div>
</div>-->

<div>
    <i (click)="Show()" style="cursor: pointer;" class="glyphicon glyphicon-font" aria-hidden="true"></i>
</div>

<style>
    /* Demo Background */
    body {
        background: url(/images/bg/bg-4.png);
    }

    /* Form Style */
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
    }

    #accordion .panel {
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 5px;
    }

    #accordion .panel-heading {
        padding: 0;
        border-radius: 0;
        text-align: center;
        border: none;
    }

    #accordion .panel-title a {
        display: block;
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background: #0C0119;
        transition: all 0.5s ease 0s;
    }

        #accordion .panel-title a:hover {
            background: rgba(12, 1, 25, 0.8);
        }

    #accordion .panel-body {
        font-size: 14px;
        color: #fff;
        background: #29b0a0;
        padding: 15px 20px;
        line-height: 25px;
        border: none;
        position: relative;
    }

        #accordion .panel-body:after {
            content: "";
            position: absolute;
            top: -30px;
            left: 40px;
            border: 15px solid transparent;
            border-bottom: 15px solid #29b0a0;
        }
</style>

<table class="table">
    <tbody>
        <tr *ngFor="let game of img; let i = index" class="clickable-row" data-toggle="collapse" [attr.data-target]="'#gameDetails' + i">
            <td class="text-nowrap">
                {{game}}
                <div [attr.id]="'gameDetails' + i" class="collapse">
                    <p>Insert a large component in this place</p>
                </div>
            </td>
            
        </tr>
    </tbody>
</table>

<instruction-app>sss...</instruction-app>