.login-register-form-section {
    max-width: 350px;
    margin: 0 auto;
}

    .login-register-form-section i {
        width: 10px;
    }

    .login-register-form-section .nav-tabs > li > a {
        color: #2abb9b;
    }

    .login-register-form-section .nav-tabs > li.active > a {
        background-color: #2abb9b;
        border-color: #2abb9b;
        color: white;
    }

    .login-register-form-section .nav-tabs > li > a,
    .login-register-form-section .nav-tabs > li.active > a {
        width: 160px;
        text-align: center;
        border-radius: 0;
    }

    .login-register-form-section .nav-tabs {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .login-register-form-section .btn-custom {
        width: 100%;
        background-color: #2abb9b;
        border-color: #2abb9b;
        margin-bottom: 0.5em;
        border-radius: 0;
    }

        .login-register-form-section .btn-custom:hover {
            width: 100%;
            background-color: #48A497;
            border-color: #2abb9b;
        }

    .login-register-form-section .form-group {
        padding: 0 20px;
    }

.main-login {

    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    
    margin: 30px auto;
    max-width: 500px;
    padding: 40px 40px;
}
