

<div style="padding-top:25px;"> </div>

<div class="panel panel-default col-sm-2 col-lg-2 col-md-2">
    <div class="btn-group-vertical" style="display: block;">
        <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-top:0px; margin-bottom:0px;">
            <span class="btn btn-primary btn-file" style="width:100%">
                <span class="fileupload-new"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Image</span>

                <input type="file" (change)="AddImage($event)" />
            </span>
        </div>
        <button (click)="Create(1)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-font" aria-hidden="true"> Text</span>
        </button>
        <button (click)="Create(3)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-font" aria-hidden="true"> Video</span>
        </button>
        <button (click)="Save()" style="padding-bottom:10px" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-ok"></span>
            Save
        </button>


    </div>
</div>
<div class="panel panel-default col-sm-10 col-lg-10 col-md-10">
    <div class="panel-body">
        
        <div class="container-fluid">

            <div class="row">
                <div class="row">
                    <div class="col-md-9">

                        <input class="form-control pull-left" style="width:50%;" (change)="onChangeName()" type="text" name="Name"
                               [(ngModel)]="BuildStepData.Name" #Name="ngModel" />
                    </div>

                </div>
            </div>
            <hr>
            <span class="pull-left">
                <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="glyphicon glyphicon-th-large" aria-hidden="true"></i> Elements <span class="badge">{{BuildStepData.Elements.length}}</span></a>



            </span>
        </div>
    </div>
</div>

<div class="btn-group">
    <button type="button" (click)="Develop()" class="btn btn-primary">Develop</button>
    <button type="button" (click)="View()" class="btn btn-primary">View</button>
</div>


<div style="padding-top:10px;"> </div>

<div *ngIf="develop">


    <div class="container">


        <div class="timeline">
            <div class="line text-muted"></div>

            <div [dragula]='"another-bag"' [dragulaModel]='this.BuildStepData.Elements'>


                <div *ngFor="let step of this.BuildStepData.Elements;let i = index">
                    <article *ngIf="step.BlockType==1" class="panel panel-primary">

                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-plus"></i>
                            <button (click)="Delete(step.Id)" class="btn-danger cursor-pointer"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>

                        <div class="panel-heading">
                            <h2 class="panel-title">Text</h2>
                        </div>
                        <div class="panel-body">
                            <textarea autosize="" style="width: 100%;" #newStudentElem name="name" (change)="onChange(newStudentElem.value,i)" 
                                      id="textbox" class="form-control">{{step.Data}}</textarea>
                        </div>
                    </article>


                    <article *ngIf="step.BlockType==2" class="panel panel-default panel-outline">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-picture"></i>
                            
                            <button (click)="Delete(step.Id)" class="btn-danger cursor-pointer"><i class="glyphicon glyphicon-remove"></i></button>

                        </div>
                        <div class="panel-body">
                            <img style="max-height:250px" class="img-responsive img-rounded" src="../../images/{{step.Data}}" />
                        </div>
                        <!-- /Body -->

                    </article>

                    <article *ngIf="step.BlockType==3" class="panel panel-success">


                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-hd-video"></i>
                            <button (click)="Delete(step.Id)" class="btn-danger cursor-pointer"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>

                        <div class="panel-heading">
                            <h2 class="panel-title">Video</h2>
                        </div>

                        <div class="panel-body">
                            <textarea style="width: 100%;" rows="3" name="name" #newElem 
                                      (change)="onChange(newElem.value,i)" id="textbox" class="form-control">{{step.Data}}</textarea>
                        </div>

                    </article>

                </div>
            </div>

            <article class="panel panel-info panel-outline">


                <!-- Icon -->
                <div class="panel-heading icon">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </div>
                <!-- /Icon -->
                <!-- Body -->
                <div class="panel-body">
                    That is all.
                </div>
                <!-- /Body -->
              
            </article>
        </div>
    </div>
</div>

<div *ngIf="!develop">

    <div class="row" *ngFor="let step of this.BuildStepData.Elements">

        <div *ngIf="step.BlockType==1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <markdown>{{step.Data}}</markdown>
        </div>
        <div *ngIf="step.BlockType==2">

            <img style="max-height:400px; margin: 0 auto; padding: 15px 0;" class="img-responsive img-rounded center-block" src="../../images/{{step.Data}}" />
        </div>

        <div *ngIf="step.BlockType==3">

            <div *ngIf="step.Data!=''&&step.Data!=null" class="embed-responsive embed-responsive-16by9" style="text-align: center;">

                <iframe [src]='videoURL(step)' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="center-block embed-responsive-item"></iframe>
            </div>
        </div>
    </div>
</div>

