<div class="panel-body">

    <div class="container-fluid">

        <div class="row">
            <h3>{{BuildStepData.Name}}</h3>
        </div>
        <button style="padding:0px;" (click)="OpenInstruction(BuildStepData.InstructionId)" type="button" class="btn btn-link"><h4 class="content-title">Go to the Instruction</h4></button>

        <hr>
        <span class="pull-left">
            <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="glyphicon glyphicon-th-large" aria-hidden="true"></i> Elements <span class="badge">{{BuildStepData.Elements.length}}</span></a>

        </span>
       
    </div>
</div>
<div class="row" *ngFor="let step of this.BuildStepData.Elements">

    <div *ngIf="step.BlockType==1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <markdown>{{step.Data}}</markdown>
    </div>
    <div *ngIf="step.BlockType==2">

        <img style="max-height:400px; margin: 0 auto; padding: 15px 0;" class="img-responsive img-rounded center-block" src="../../images/{{step.Data}}" />
    </div>

    <div *ngIf="step.BlockType==3">

        <div *ngIf="step.Data!=''&&step.Data!=null" class="embed-responsive embed-responsive-16by9" style="text-align: center;">

            <iframe [src]='videoURL(step)' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="center-block embed-responsive-item"></iframe>
        </div>
    </div>
</div>